[tool.poetry]
name = "api-swedeb"
version = "0.2.2"
description = ""
authors = ["rebeckaw <rebecka.weegar@umu.se>"]
readme = "README.md"
packages = [{include = "api_swedeb"}]

[tool.poetry.dependencies]
python = "3.11.*"
fastapi = "^0.105.0"
uvicorn = {extras = ["standard"], version = "^0.24.0.post1"}
python-dotenv = "^1.0.1"
cwb-ccc = "^0.12.3"
pydantic = "^2.6.3"
scipy = "1.12.0"
numpy = "1.26.4"
humlab-penelope = "^0.8.2"
pyarrow = "^17.0.0"

[tool.poetry.group.dev.dependencies]
black = "^24.3.0"
httpx = "^0.26.0"
pytest = "^7.4.4"
pylint = "^3.1.0"
ruff = "^0.3.3"
pyinstrument = "^4.6.2"
pytest-cov = "^6.0.0"
isort = "^6.0.1"

[tool.black]
line-length = 120
target-version = ["py311"]
skip-string-normalization = true


[tool.pylint.format]
max-line-length = 120

[tool.ruff]
target-version = "py311"
line-length = 120
# output-format = "grouped"
exclude = [ ".eggs", ".git", ".ruff_cache", ".venv", "dist" ]

[tool.ruff.lint]
select = ["E", "F", "W"]
ignore = []
fixable = ["ALL"]
unfixable = []

[tool.coverage]
    [tool.coverage.run]
    omit = [
        '__init__.py',
        '__paths__.py',
        'tests/*',
        'api_swedeb/schemas'
    ]

    [tool.coverage.report]
    skip_empty = true

[tool.pytest.ini_options]
testpaths = ["tests"]
addopts = "-ra --quiet --tb=short --color=no --durations=0 -W ignore::DeprecationWarning"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

# [tool.poetry.requires-plugins]
# poetry-plugin-export = ">=1.8"
# poetry-plugin-shell = ">=1.0"