# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
*.egg-info/
# dist/ # We DO want to copy the dist folder if it contains a wheel
build/

# IDE / OS files
.idea/
.vscode/
*.swp
*~
.DS_Store

node_modules/
